.servers {
    width: 100px;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: #1e1f22;
    align-items: center;
    border-radius: 20px;
}

.flex-container {
    display: flex;
    width: 120vh;
    height: 98vh;   
  }

body {
    width: 120vh;
    height: 98vh;
    background-color: #313338;
}

.server {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width:  75px;
    height: 75px;
    overflow: hidden;
}

.server:hover {
    border-radius: 25px;
}

.server > img {
    width: 75px;
    height: 75px; 
    transition-duration: 0.4s;
}

.server > img:hover {
    border-radius: 25px;
    transition-duration: 0.4s;
    width: 90px;
    height: 90px;
}

.servers > hr, .channels > hr{
    width: 75%;
    border-radius: 20px;
    height: 5px;
    background-color: #313338;  
    border: none
}


.discord {
    background-color: #313338;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 75px;
    height: 75px;
    transition-duration: 0.4s;
}

.discord:hover {
    border-radius: 25px;
    background-color: #5865f2;
    transition-duration: 0.4s;
}

.channels {
    width: 280px;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    background-color: #2b2d31;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.menu {
    transition-duration: 0.4s;
    border-radius: 20px ;
}

.login {
    width: 280px;
    height: 10%;
    display: flex;
    flex-flow: column wrap;
    background-color: #1e1f22;
    justify-content: flex-end;
    border-radius: 20px;
    margin-left: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
}

.login > .username {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 12%;
    text-align: left;
}
.menu:hover {
    box-shadow: 2px 2px 2px white;
    transition-duration: 0.4s;
}

.channels > h1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
} 

.channels > h1:hover {
    text-shadow: 2px 2px 2px #404249;
}

.channel, .category {
    width: 260px;
    height: 30px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 10px;
    transition-duration: 0.4s;
}

.channel > p, .category > p {
    font-family: sans-serif;
    color: #80848e;
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding-left: 5px;
    transition-duration: 0.4s;  
}

.channel:hover{
    background-color: #404249;
    border-radius: 20px;
    transition-duration: 0.4s;
}
.server:hover > .tooltip, .discord:hover > .tooltip, .login:hover > .tooltip  {
    visibility: visible;
}

.category:hover > p, .category:hover > i {
    color: white;
    transition-duration: 0.4s;
    font-size: 22px;
}

.sendmessage {
    width: 650px;
    height: 50px;
    border-radius: 20px;
    background-color: #383a40;
    border: none;
    display: flex;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    bottom: 20px;
    position: fixed;
    margin-left: 10px   ;
}

.submitbtn {
    width: 120px;
    height: 50px;
    background-color: #5865f2;
    border: none;
    display: flex;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;    
    font-size: 20px;
    color: white;
    font-family: sans-serif ;
    transition-duration: 0.4s;
    bottom: 20px;
    position: fixed;    
    right: 330px;
}

.submitbtn:hover {
    background-color: white;
    color: #5865f2;
    transition-duration: 0.4s;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #1e1f22;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    margin-left: 200px;
    font-family: sans-serif;
    opacity: 0.7;
}

.message {
    width: 650px;
    height: 150px;
    top: 0;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #2b2d31;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
}

.message:hover {
    box-shadow: 2px 2px 2px white;
    transition-duration: 0.4s;
}

.message > img  {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.message > .username {
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    margin-top: -37px;
    margin-left: 70px;
    color: white;
}

.message > p {
    font-family: sans-serif;
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

.message > .time {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: -40px;
    text-align: right;
    margin-right: 10px;
    color: #80848e;
    transition-duration: 0.4s;
}

.message >.time:hover {
    color: white;
    transition-duration: 0.4s;
}

.message > .username2 {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: -42px;
    text-align: left;
    margin-left: 210px;
    color: #80848e;
}
